build/pb_data
pb_public
# Pocketbase binary
build/
app.env
.env*
build
dist/
pb_data
.secrets
bbdb
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth
!pb_data.tar.gz